h1 {
  color:#111c38; 
  font-family: "Garamond", "Brush Script MT", cursive;
  font-size:50px;
  text-align: center;
    text-shadow: 2px 2px;
} 
h2 {
  color:#113238;
  font-family: "Garamond", "Brush Script MT", cursive;
  font-size:50px;
  font-weight: bold;
  text-decoration: underline;
}

P {
  color:#113814;
  font-family: "Garamond";
  font-size:25px;
  background-color:#ebd6ff;
}
