h1 {
  color: #363d31; 
  font-family: "futura";
  font-size:75px;
  text-align: center;
} 

h2 {
  color: #545e4d; 
  font-family: "futura";
  font-size:40px;
  text-align: left;
} 

section {
height: 500px;
  background-color: #A8B59D;
  border: #D3DACE 1px;
}
  

.hero {
  background-color: #BDC8B5;
  
  
 p {
   color: #363d31;
          font-family: "futura";
    font-size:15px;
    text-align: left;
  }
      
  
  img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
  border-radius: 20%
}


  
  
