h1 {
  color: #D3DACE; 
  font-family: "futura";
  font-size:50px;
  text-align: left;
} 

h2 {
  color: #D3DACE; 
  font-family: "futura";
  font-size:40px;
  text-align: left;
} 

section {
height: 500px;
  background-color: #A8B59D;
  border: #D3DACE 1px;
}
  

.hero {
  background-color: #BDC8B5;
  
  
 p {
   color: #808080;
      text-size:20px;
          font-family: "Futura";
    font-size:25px;
    text-align: center;
  }
      


  
  
